body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  style:"color:white";
  background-image: url(greybackground.png);
  background-repeat: repeat;
}
#wrapper {
  width: 960px;
  margin: 50px auto 50px auto;
  border-width: 20px;
  border-color: red;
}
h1{
  color:cyan;
  font-size:24px;
}
h2,h3,h4{
  color:lightgray;
}
